{#  telephone_panier  : tableau de dictionnaires
        * dictionnaire : nom quantite prix_telephone telephone_id [stock]
        *
#}

{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
            {% include('client/boutique/_panier.html') %}
            <div class="col">
                <h3>Les filtres</h3>
                telephones dont le nom est composé par :<br>
                {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>Les telephones</h1>
        </div>

        <div class="row">
            {% for telephone in telephones  %}
                <div class="card col-4 mt-4 p-1">
                    <div class="card-body border-dark rounded p-1">
                        <a href="/client/telephone/details?id_telephone={{ telephone.id_telephone }}" >
                            <h3 class="card-title">
                                <span style="color: #0b2e13">{{ telephone.nom_telephone }}</span><br>
                                {{ telephone.prix_telephone }}
                                €
                            </h3>
                            {%  if telephone.image is not none %}
                                <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'images/')}}{{ telephone.image }}"  alt="image  de {{ telephone.nom_telephone }}" >
                            {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='images/no_photo.jpeg')}}"  alt="image  de {{ telephone.nom_telephone }}" >
                            {% endif %}
                            <hr>
                        </a>
                        <div class="row">
                            {# #}                                {% if  telephone.stock is defined and telephone.stock != None %}
                            {# #}                                    {% if telephone.stock > 0 %}
                                <form  action="/client/panier/add"  method="post" class="col-5">
                                    <input type="hidden" name="id_telephone" value="{{ telephone.id_telephone }}">
                                    <div class="input-group">
                                        <button class="btn  btn-success"  id="button-addon1">
                                            <i class="fas fa-shopping-cart">Ajouter</i>
                                        </button>
                                        <input type="number" id="input-{{ telephone.id_telephone }}" step="1" min="0" max="{{ telephone.stock_total }}" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                    </div>
                                </form>
                                {# #}                                    {% endif %}
                            {# #}                                {% endif %}
                            <div class="col-2 align-content-end">
                                {% if telephone.liste_envie is defined %}
                                    {%if  telephone.liste_envie== 1%}
                                        <a href="/client/envie/add?id_telephone={{ telephone.id_telephone }}" style="text-decoration: none">💛</a>
                                    {% else %}
                                        <a href="/client/envie/add?id_telephone={{ telephone.id_telephone }}" style="text-decoration: none">🤍</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if telephone.stock is defined and telephone.stock != None %}
                            {% if telephone.stock_total > 0 %}
                                <small class="text-muted">Stock total : {{ telephone.stock_total }}</small>
                                {% if telephone.nombre_declinaisons > 0 %}
                                    <small class="text-muted">({{ telephone.nombre_declinaisons }} d.)</small>
                                    {% if telephone.details_stock %}
                                        <br>
                                        <small class="text-muted">Détails : {{ telephone.details_stock }}</small>
                                    {% endif %}
                                {% else %}
                                    <small class="text-muted">(1 d.)</small>
                                {% endif %}
                            {% else %}
                                <small class="text-muted">Téléphone momentanément indisponible</small>
                            {% endif %}
                            <br>
                        {% endif %}
                        {% if telephone.nb_notes is defined %}
                            {% if telephone.nb_notes > 0 %}
                                <a  href="/client/telephone/details?id_telephone={{ telephone.id_telephone }}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(telephone.moy_notes) }}({{ telephone.nb_notes }})</span>
                                </a>
                            {% endif %}
                        {% endif %}
                        {% if telephone.nb_avis is defined %}
                            {% if telephone.nb_avis > 0 %}
                                <a href="/client/telephone/details?id_telephone={{ telephone.id_telephone }}" >
                                    <span style="color: #3A7734">({{ telephone.nb_avis }} avis)</span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {# {{ telephones | print }} #}
{% endblock %}